doctype html
head
  title &Scy;&iecy;&rcy;&vcy;&icy;&scy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&icy; Italy &Dcy;&ocy;&mcy;&ocy;&jcy;
  meta(data-n-head='ssr' charset='utf-8')
  meta(data-n-head='ssr' name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(data-n-head='ssr' http-equiv='X-UA-Compatible' content='ie=edge')
  meta(data-n-head='ssr' name='format-detection' content='telephone=no')
  meta(data-n-head='ssr' name='mobile-web-app-capable' content='yes')
  meta(data-n-head='ssr' name='theme-color' content='#ffffff')
  meta(data-n-head='ssr' name='msapplication-TileColor' content='#ffffff')
  meta(data-n-head='ssr' name='msapplication-TileImage' content='/assets/images/favicons/ms-icon-144x144.png')
  meta(data-n-head='ssr' data-hid='description' name='description' content='Сервис доставки Italy Домой')
  meta(data-n-head='ssr' data-hid='charset' charset='utf-8')
  meta(data-n-head='ssr' data-hid='apple-mobile-web-app-title' name='apple-mobile-web-app-title' content='frontend')
  meta(data-n-head='ssr' data-hid='author' name='author' content='leshiple')
  meta(data-n-head='ssr' data-hid='og:type' name='og:type' property='og:type' content='website')
  meta(data-n-head='ssr' data-hid='og:title' name='og:title' property='og:title' content='frontend')
  meta(data-n-head='ssr' data-hid='og:site_name' name='og:site_name' property='og:site_name' content='frontend')
  meta(data-n-head='ssr' data-hid='og:description' name='og:description' property='og:description' content='My spectacular Nuxt.js project')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='57x57' href='/assets/images/favicons/apple-icon-57x57.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='60x60' href='/assets/images/favicons/apple-icon-60x60.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='72x72' href='/assets/images/favicons/apple-icon-72x72.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='76x76' href='/assets/images/favicons/apple-icon-76x76.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='114x114' href='/assets/images/favicons/apple-icon-114x114.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='120x120' href='/assets/images/favicons/apple-icon-120x120.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='144x144' href='/assets/images/favicons/apple-icon-144x144.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='152x152' href='/assets/images/favicons/apple-icon-152x152.png')
  link(data-n-head='ssr' rel='apple-touch-icon' sizes='180x180' href='/assets/images/favicons/apple-icon-180x180.png')
  link(data-n-head='ssr' rel='icon' type='image/png' sizes='16x16' href='/assets/images/favicons/android-icon-16x16.png')
  link(data-n-head='ssr' rel='icon' type='image/png' sizes='32x32' href='/assets/images/favicons/android-icon-32x32.png')
  link(data-n-head='ssr' rel='icon' type='image/png' sizes='96x96' href='/assets/images/favicons/android-icon-96x96.png')
  link(data-n-head='ssr' rel='icon' type='image/png' sizes='192x192' href='/assets/images/favicons/android-icon-192x192.png')
  link(data-n-head='ssr' rel='icon' type='image/x-icon' href='/favicon.ico')
  link(data-n-head='ssr' data-hid='shortcut-icon' rel='shortcut icon' href='/_nuxt/icons/icon_64x64.5f6a36.png')
  link(data-n-head='ssr' data-hid='apple-touch-icon' rel='apple-touch-icon' href='/_nuxt/icons/icon_512x512.5f6a36.png' sizes='512x512')
  link(data-n-head='ssr' rel='manifest' href='/_nuxt/manifest.d632ef2c.json' data-hid='manifest')
  link(rel='preload' href='/_nuxt/runtime.js' as='script')
  link(rel='preload' href='/_nuxt/commons/app.js' as='script')
  link(rel='preload' href='/_nuxt/vendors/app.js' as='script')
#__nuxt(data-server-rendered='true')
  //
  //
  #__layout
    .wrapper
      header.header
        a.nuxt-link-active(href='/')
          | &Vcy;&ycy;&bcy;&iecy;&rcy;&icy;&tcy;&iecy; &acy;&dcy;&rcy;&iecy;&scy;
          svg.custom-select__icon(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M5 14l7-6.5L5 1' stroke='#000' stroke-linecap='square')
    //
  //
  //
  //
svg.locator(width='14' height='16' viewbox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(clip-rule='evenodd' d='M7 9.061a2.133 2.133 0 002.133-2.132 2.133 2.133 0 00-4.267 0c0 1.177.956 2.132 2.134 2.132z' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round')
  path(clip-rule='evenodd' d='M13.4 6.929c0 5.33-5.334 8.528-6.4 8.528-1.067 0-6.4-3.198-6.4-8.528A6.399 6.399 0 017 .533c3.534 0 6.4 2.864 6.4 6.396z' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round')
.work-time.is-active
  svg.work-time__icon(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M8 3a.5.5 0 00-1 0h1zm-.5 4.5H7a.5.5 0 00.146.354L7.5 7.5zm2.646 3.354a.5.5 0 00.708-.708l-.708.708zM7.5 14A6.5 6.5 0 011 7.5H0A7.5 7.5 0 007.5 15v-1zM14 7.5A6.5 6.5 0 017.5 14v1A7.5 7.5 0 0015 7.5h-1zM7.5 1A6.5 6.5 0 0114 7.5h1A7.5 7.5 0 007.5 0v1zm0-1A7.5 7.5 0 000 7.5h1A6.5 6.5 0 017.5 1V0zM7 3v4.5h1V3H7zm.146 4.854l3 3 .708-.708-3-3-.708.708z')
  span.work-time__text &Pcy;&ncy;-&Vcy;&scy;: 11:00-23:00
a.phone(href='tel:+78129002333')
  svg.phone__icon(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M20.334 1.667l-8 8m0 0V5m0 4.667H17m-12.666-8h2.959c.611 0 1.145.416 1.293 1.01l.782 3.125a1.333 1.333 0 01-.872 1.588l-1.479.493a1.613 1.613 0 00-1.07 1.846 8.063 8.063 0 006.324 6.325c.798.16 1.589-.3 1.846-1.071l.397-1.191a1.333 1.333 0 011.861-.771l3.222 1.61c.451.226.737.688.737 1.193v1.843a2.667 2.667 0 01-2.667 2.666H15C7.637 20.333 1.667 14.363 1.667 7V4.333a2.667 2.667 0 012.667-2.666z' stroke='inherit' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
  span.phone__text +7 (812) 900-23-33
.mini-cart
  button.mini-cart__button
    svg.mini-cart__icon(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M1.667 1.667l.8 2.666m0 0L5.667 15h14.667V7a2.667 2.667 0 00-2.667-2.667h-15.2zm15.2 16a1.333 1.333 0 110-2.666 1.333 1.333 0 010 2.666zM7 19a1.333 1.333 0 112.667 0A1.333 1.333 0 017 19z' stroke='currentColor' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
    //
  .mini-cart__dropdown.dropdown
    .mini-cart__header
      h5.mini-cart__title
        | &Kcy;&ocy;&rcy;&zcy;&icy;&ncy;&acy;
    .mini-cart__body
      .cart-list.cart-list--small
        .cart-list__empty
          | &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&iecy; &ncy;&icy;&chcy;&iecy;&gcy;&ocy; &ncy;&iecy;&tcy;
    .mini-cart__footer
      .mini-cart__summary
        .mini-cart__summary-title
          | &Icy;&tcy;&ocy;&gcy;&ocy;
        .mini-cart__summary-value
          | 0 &#x20BD;
      button.btn.control.control--md.btn--primary(to='/')
        | &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
        svg.icon.icon--after(viewbox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M14.4 5L10.133.733M14.4 5l-4.267 4.267M14.4 5H1.066' stroke='currentColor' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
.profile
  button.profile__button
    svg.profile__icon(width='20' height='22' viewbox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(clip-rule='evenodd' d='M14 5.664a3.998 3.998 0 01-4 3.997 3.998 3.998 0 110-7.994c2.21 0 4 1.789 4 3.997zM16.667 20.321H3.334v-2.663a4 4 0 014-4h5.333a4 4 0 014 4v2.663z' stroke='currentColor' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
  //
.hamburger
  svg.hamburger__icon(width='22' height='20' viewbox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M1 7.333h20M1 2h20M1 12.667h20M1 18h20' stroke='inherit' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
  //
.navigation
  .navigation__inner
    .menu-nav
      h4.menu-nav__title
        | &Mcy;&IEcy;&Ncy;&YUcy;
      nav.menu-nav__links
        .menu-nav__col
          a.menu-nav__link(href='/categories/supy-2')
            | &Scy;&ucy;&pcy;&ycy;
          a.menu-nav__link(href='/categories/salaty-2')
            | &Scy;&acy;&lcy;&acy;&tcy;&ycy;
          a.menu-nav__link(href='/categories/prigotov-sam-2')
            | &Pcy;&rcy;&icy;&gcy;&ocy;&tcy;&ocy;&vcy;&softcy; &scy;&acy;&mcy;
          a.menu-nav__link(href='/categories/picca-2')
            | &Pcy;&icy;&tscy;&tscy;&acy;
          a.menu-nav__link(href='/categories/pasta-2')
            | &Pcy;&acy;&scy;&tcy;&acy;
          a.menu-nav__link(href='/categories/lanci')
            | &Lcy;&acy;&ncy;&chcy;&icy;
          a.menu-nav__link(href='/categories/napitki-2')
            | &Ncy;&acy;&pcy;&icy;&tcy;&kcy;&icy;
          a.menu-nav__link(href='/categories/merc-2')
            | &Mcy;&iecy;&rcy;&chcy;
          a.menu-nav__link(href='/categories/kombo')
            | &Kcy;&ocy;&mcy;&bcy;&ocy;
          a.menu-nav__link(href='/categories/deserty-2')
            | &Dcy;&iecy;&scy;&iecy;&rcy;&tcy;&ycy;
          a.menu-nav__link(href='/categories/bolsaya-picca')
            | &Bcy;&ocy;&lcy;&softcy;&shcy;&acy;&yacy; &pcy;&icy;&tscy;&tscy;&acy;
          a.menu-nav__link(href='/categories/08-dostavka-italiani')
            | 08 &Dcy;&Ocy;&Scy;&Tcy;&Acy;&Vcy;&Kcy;&Acy;  ITALIANI
        .menu-nav__col
          a.menu-nav__link(href='/categories/supy')
            | &Scy;&ucy;&pcy;&ycy;
          a.menu-nav__link(href='/categories/salaty')
            | &Scy;&acy;&lcy;&acy;&tcy;&ycy;
          a.menu-nav__link.nuxt-link-active(href='/categories/prigotov-sam')
            | &Pcy;&rcy;&icy;&gcy;&ocy;&tcy;&ocy;&vcy;&softcy; &scy;&acy;&mcy;
          a.menu-nav__link(href='/categories/picca')
            | &Pcy;&icy;&tscy;&tscy;&acy;
          a.menu-nav__link(href='/categories/pasta')
            | &Pcy;&acy;&scy;&tcy;&acy;
          a.menu-nav__link(href='/categories/obedy')
            | &Ocy;&bcy;&iecy;&dcy;&ycy;
          a.menu-nav__link(href='/categories/napitki')
            | &Ncy;&acy;&pcy;&icy;&tcy;&kcy;&icy;
          a.menu-nav__link(href='/categories/merc')
            | &Mcy;&iecy;&rcy;&chcy;
          a.menu-nav__link(href='/categories/kombo-nabory')
            | &Kcy;&ocy;&mcy;&bcy;&ocy;-&ncy;&acy;&bcy;&ocy;&rcy;&ycy;
          a.menu-nav__link(href='/categories/deserty')
            | &Dcy;&iecy;&scy;&iecy;&rcy;&tcy;&ycy;
          a.menu-nav__link(href='/categories/bolsie-piccy')
            | &Bcy;&ocy;&lcy;&softcy;&shcy;&icy;&iecy; &pcy;&icy;&tscy;&tscy;&ycy;
    div
    nav.block-links
      .block-links__item
        a.block-links__item-link.nuxt-link-active(href='/')
          | &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
        a.block-links__item-link.nuxt-link-active(href='/')
          | &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
        a.block-links__item-link.nuxt-link-active(href='/')
          | &Ocy;&pcy;&lcy;&acy;&tcy;&acy;
        a.block-links__item-link.nuxt-link-active(href='/')
          | &Ocy; &ncy;&acy;&scy;
      .block-links__item
        a.block-links__item-link.nuxt-link-active(href='/')
          | &Acy;&kcy;&tscy;&icy;&icy;
        a.block-links__item-link.nuxt-link-active(href='/')
          | &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy; &lcy;&ocy;&yacy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
        a.block-links__item-link.nuxt-link-active(href='/')
          | &Pcy;&ocy;&dcy;&acy;&rcy;&ocy;&chcy;&ncy;&ycy;&jcy; &scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;
    .social
      h5.social__title
        | &Scy;&lcy;&iecy;&dcy;&icy;&tcy;&iecy; &zcy;&acy; &ncy;&acy;&mcy;&icy;
      ul.social__list
        li.social__list-item
          a.social__link(href='/')
            svg.social__link-icon.img-responsive(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z' fill='#eccdca')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M20 10.774c2.956 0 3.34.014 4.487.058l.058.002c1.103.045 1.692.226 2.084.393.529.21.906.453 1.299.845.392.393.634.77.845 1.299.151.392.333.996.393 2.084.06 1.193.06 1.54.06 4.545 0 2.956-.014 3.34-.058 4.487l-.002.058c-.045 1.103-.226 1.692-.393 2.084a3.585 3.585 0 01-.845 1.299c-.393.392-.77.634-1.299.845-.392.151-.996.333-2.084.393-1.193.06-1.54.06-4.545.06-2.956 0-3.34-.014-4.487-.058l-.058-.002c-1.103-.045-1.692-.226-2.084-.393a3.585 3.585 0 01-1.299-.845 3.585 3.585 0 01-.845-1.299c-.152-.392-.333-.996-.393-2.084-.06-1.193-.06-1.54-.06-4.545 0-2.956.014-3.34.058-4.487l.002-.058c.045-1.103.226-1.692.393-2.084.21-.529.453-.906.845-1.299.393-.392.77-.634 1.299-.845.392-.152.996-.333 2.084-.393l.034-.001c1.151-.045 1.536-.06 4.511-.06zm0-2.024c-3.046 0-3.438.015-4.613.06h-.023c-1.193.06-2.008.242-2.733.529-.74.287-1.374.664-1.993 1.299-.62.634-1.012 1.253-1.3 1.993-.27.71-.467 1.54-.528 2.733v.023c-.045 1.175-.06 1.567-.06 4.613 0 3.045.015 3.442.06 4.63v.006c.06 1.193.242 2.008.529 2.733.287.74.664 1.374 1.299 1.993a5.54 5.54 0 001.993 1.3c.71.27 1.54.467 2.733.528 1.193.06 1.586.06 4.636.06 3.045 0 3.442-.015 4.63-.06h.006c1.193-.06 2.008-.242 2.733-.529.74-.287 1.374-.664 1.993-1.299a5.54 5.54 0 001.3-1.993c.27-.71.467-1.54.528-2.733.06-1.193.06-1.586.06-4.636 0-3.045-.015-3.442-.06-4.63v-.006c-.06-1.193-.242-2.008-.529-2.733-.287-.74-.664-1.374-1.299-1.993a5.54 5.54 0 00-1.993-1.3c-.71-.27-1.54-.467-2.733-.528h-.03c-1.184-.045-1.58-.06-4.606-.06zm0 5.466a5.768 5.768 0 100 11.537 5.768 5.768 0 100-11.537zm0 9.529a3.744 3.744 0 110-7.49 3.744 3.744 0 110 7.49zm7.338-9.755a1.344 1.344 0 11-2.688 0 1.344 1.344 0 012.688 0z' fill='#e6594f')
        li.social__list-item
          a.social__link(href='/')
            svg.social__link-icon.img-responsive(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z' fill='#cad8eb')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M21.107 26.198s.406-.044.614-.262c.19-.2.184-.575.184-.575s-.026-1.752.812-2.015c.825-.256 1.884 1.698 3.008 2.449.85.567 1.494.444 1.494.444l3.004-.041s1.572-.095.826-1.297c-.061-.099-.434-.89-2.233-2.517-1.885-1.702-1.632-1.427.637-4.376 1.382-1.793 1.934-2.888 1.757-3.356-.164-.448-1.18-.33-1.18-.33l-3.383.02s-.25-.032-.437.076c-.181.106-.3.354-.3.354s-.534 1.388-1.248 2.568c-1.506 2.49-2.108 2.623-2.354 2.467-.573-.36-.43-1.448-.43-2.22 0-2.414.375-3.42-.733-3.68-.367-.088-.637-.145-1.579-.154-1.207-.012-2.227.004-2.806.28-.385.183-.682.592-.501.616.223.029.73.132.998.488.346.46.335 1.49.335 1.49s.2 2.841-.466 3.194c-.455.243-1.08-.252-2.423-2.51-.688-1.158-1.208-2.437-1.208-2.437s-.1-.24-.28-.368a1.417 1.417 0 00-.518-.204l-3.214.02s-.483.013-.66.217c-.157.181-.012.557-.012.557s2.517 5.733 5.365 8.622c2.614 2.648 5.58 2.474 5.58 2.474H21.1' fill='#4f96e6')
        li.social__list-item
          a.social__link(href='/')
            svg.social__link-icon.img-responsive(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z' fill='#cad2eb')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M21.418 31.092V20.208h3.004l.398-3.75h-3.402l.005-1.876c0-.979.094-1.502 1.498-1.502h1.877V9.33h-3.004c-3.608 0-4.878 1.82-4.878 4.878v2.252h-2.25v3.75h2.25v10.883h4.502' fill='#4f6ce6')
.content
  .page-product
    .page-product__breadcrumbs
      nav.breadcrumbs
        .breadcrumbs__item
          a.breadcrumbs__link.nuxt-link-active(href='/')
            | &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
          //
        .breadcrumbs__item
          a.breadcrumbs__link.nuxt-link-active(href='/categories/prigotov-sam')
            | &Pcy;&rcy;&icy;&gcy;&ocy;&tcy;&ocy;&vcy;&softcy; &scy;&acy;&mcy;
          //
        .breadcrumbs__item
          //
          span.breadcrumbs__text
            | &Pcy;&acy;&scy;&tcy;&acy; &dcy;&lcy;&yacy; &dcy;&vcy;&ocy;&icy;&khcy;
    .product
      .product__main
        .col.col--1
          .product__img-wrap
            img.product__img.img-responsive(src='https://frontend.italy.ismart.pro/storage/food/food-05.png')
        .col.col--2
          div
            .product__header
              .product__popup
                svg.product__popup-icon(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  circle(cx='12' cy='12' r='12' fill='#E0E0E0')
                  path(d='M12 6.4v6.4m0 4v.016' stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                .product__popup-body
                  .product__popup-body-inner
                    .product__popup-title
                      | &Pcy;&icy;&shchcy;&iecy;&vcy;&acy;&yacy; &tscy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy; &ncy;&acy; 100 &gcy;
                    ul.product__popup-list
                      li.product__popup-item
                        | &Ecy;&ncy;&iecy;&rcy;&gcy;.&tscy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy;
                        span 1105.98 &kcy;&kcy;&acy;&lcy;
                      li.product__popup-item
                        | &Bcy;&iecy;&lcy;&kcy;&icy;
                        span 41.05 &gcy;
                      li.product__popup-item
                        | &ZHcy;&icy;&rcy;&ycy;
                        span 7.8 &gcy;
                      li.product__popup-item
                        | &Ucy;&gcy;&lcy;&iecy;&vcy;&ocy;&dcy;&ycy;
                        span 220.7 &gcy;
              h1.product__name
                | &Pcy;&acy;&scy;&tcy;&acy; &dcy;&lcy;&yacy; &dcy;&vcy;&ocy;&icy;&khcy;
              .product__cart
                .product__sum
                  | 200 &#x20BD;
                .product-counter.product-counter--iconic
                  button.btn.control.product-counter__btn.control--xxl.btn--primary-gradient.btn--iconic(to='/')
                    svg.icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M7 1.4v11.2M1.4 7h11.2')
                  //
              button.btn.control.product__close.control--xl.btn--grey.btn--iconic(to='/')
                svg.icon(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2 2l16 16M2 18L18 2' stroke='inherit' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round')
            .product__description
              | (&mcy;&ucy;&kcy;&acy; &pcy;&shcy;&iecy;&ncy;&icy;&chcy;&ncy;&acy;&yacy;*, &yacy;&jcy;&tscy;&ocy; &kcy;&ucy;&rcy;&icy;&ncy;&ocy;&iecy;*, &scy;&ocy;&lcy;&softcy;), 0.48 &pcy;&ocy;&rcy;&tscy;
            ul.product__tags
              li.product__tag.control.control--sm.btn.btn--secondary
                | &Ucy;&zhcy;&icy;&ncy;
            //
            .product__composition-trigger
              | &Ucy;&bcy;&rcy;&acy;&tcy;&softcy; &icy;&ncy;&gcy;&rcy;&iecy;&dcy;&icy;&iecy;&ncy;&tcy;&ycy;
        .col.col--3
          .product__modifiers(value='')
            .selectable-modifiers
              .selectable-modifiers__name
                | &Fcy;&ocy;&rcy;&mcy;&acy; &dcy;&lcy;&yacy; &pcy;&acy;&scy;&tcy;&ycy;:
              .field
                .custom-select
                  .custom-select__input.custom-select__input--md
                    //
                    | - &Kcy;&acy;&zcy;&acy;&rcy;&iecy;&chcy;&chcy;&iecy;
                    svg.custom-select__icon(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M5 14l7-6.5L5 1' stroke='#000' stroke-linecap='square')
                  //
                //
                //
                //
            .checkable-modifiers
              h2.checkable-modifiers__title
                | &Tcy;&ocy;&pcy;&pcy;&icy;&ncy;&gcy; &ncy;&acy; &vcy;&ycy;&bcy;&ocy;&rcy;
              .row.row--small-gap
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/bacon.png')
                    .checkable-modifier__name
                      | &Bcy;&iecy;&kcy;&ocy;&ncy;
                    .checkable-modifier__price
                      | 50 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/blue-cheese.png')
                    .checkable-modifier__name
                      | &Dcy;&ocy;&rcy; &bcy;&lcy;&yucy;
                    .checkable-modifier__price
                      | 75 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/cheese.png')
                    .checkable-modifier__name
                      | &Pcy;&acy;&rcy;&mcy;&iecy;&zcy;&acy;&ncy;
                    .checkable-modifier__price
                      | 150 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/chiken.png')
                    .checkable-modifier__name
                      | &Kcy;&ucy;&rcy;&icy;&ncy;&ocy;&iecy; &fcy;&icy;&lcy;&iecy;
                    .checkable-modifier__price
                      | 50 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/chorizo.png')
                    .checkable-modifier__name
                      | &CHcy;&ocy;&rcy;&icy;&zcy;&ocy;
                    .checkable-modifier__price
                      | 70 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/feta.png')
                    .checkable-modifier__name
                      | &Fcy;&iecy;&tcy;&acy;
                    .checkable-modifier__price
                      | 50 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/ham.png')
                    .checkable-modifier__name
                      | &Vcy;&iecy;&tcy;&chcy;&icy;&ncy;&acy;
                    .checkable-modifier__price
                      | 50 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/kukumber.png')
                    .checkable-modifier__name
                      | &Ocy;&gcy;&ucy;&rcy;&tscy;&ycy; &mcy;&acy;&rcy;&icy;&ncy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy;
                    .checkable-modifier__price
                      | 20 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/mozzarella.png')
                    .checkable-modifier__name
                      | &Mcy;&ocy;&tscy;&acy;&rcy;&iecy;&lcy;&lcy;&acy;
                    .checkable-modifier__price
                      | 50 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/mushrooms.png')
                    .checkable-modifier__name
                      | &SHcy;&acy;&mcy;&pcy;&icy;&ncy;&softcy;&ocy;&ncy;&ycy;
                    .checkable-modifier__price
                      | 30 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/paprika.png')
                    .checkable-modifier__name
                      | &Pcy;&iecy;&rcy;&iecy;&tscy;
                    .checkable-modifier__price
                      | 20 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
                .col
                  .checkable-modifier
                    img.checkable-modifier__img(src='https://frontend.italy.ismart.pro/storage/mods/peper.png')
                    .checkable-modifier__name
                      | &KHcy;&acy;&lcy;&acy;&pcy;&iecy;&ncy;&softcy;&ocy;
                    .checkable-modifier__price
                      | 30 &#x20BD;
                    .checkable-modifier__weight
                      | 50 &gcy;&rcy;
                    //
          .product__footer
            .product__cart
              .product__sum
                | 200 &#x20BD;
              .product-counter
                button.btn.control.product-counter__btn.control--md.btn--primary(to='/')
                  span
                    | &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
                //
      //
    .recommendations
      h2 &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy; &pcy;&ocy;&pcy;&rcy;&ocy;&bcy;&ocy;&vcy;&acy;&tcy;&softcy;
      .row
        .col
          .card-product
            .card-product__img-wrap
              img.card-product__img.img-responsive(src='https://frontend.italy.ismart.pro/storage/food/food-04.png' alt='Чизкейк Италиани с клубникой')
            .card-product__footer
              .card-product__name
                | &CHcy;&icy;&zcy;&kcy;&iecy;&jcy;&kcy; &Icy;&tcy;&acy;&lcy;&icy;&acy;&ncy;&icy; &scy; &kcy;&lcy;&ucy;&bcy;&ncy;&icy;&kcy;&ocy;&jcy;
              button.btn.control.card-product__btn.control--xxl.btn--primary-gradient.btn--iconic(to='/')
                svg.icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7 1.4v11.2M1.4 7h11.2')
            .card-product__info
              .card-product__price
                | 255 &#x20BD;
              .card-product__weight
                | 150 &gcy;&rcy;
        .col
          .card-product
            .card-product__img-wrap
              img.card-product__img.img-responsive(src='https://frontend.italy.ismart.pro/storage/food/food-08.png' alt='Шоколадный торт с малиной ')
            .card-product__footer
              .card-product__name
                | &SHcy;&ocy;&kcy;&ocy;&lcy;&acy;&dcy;&ncy;&ycy;&jcy; &tcy;&ocy;&rcy;&tcy; &scy; &mcy;&acy;&lcy;&icy;&ncy;&ocy;&jcy;
              button.btn.control.card-product__btn.control--xxl.btn--primary-gradient.btn--iconic(to='/')
                svg.icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7 1.4v11.2M1.4 7h11.2')
            .card-product__info
              .card-product__price
                | 350 &#x20BD;
              .card-product__weight
                | 170 &gcy;&rcy;
        .col
          .card-product
            .card-product__img-wrap
              img.card-product__img.img-responsive(src='https://frontend.italy.ismart.pro/storage/food/food-07.png' alt='Паста с куриным филе и грибами')
            .card-product__footer
              .card-product__name
                | &Pcy;&acy;&scy;&tcy;&acy; &scy; &kcy;&ucy;&rcy;&icy;&ncy;&ycy;&mcy; &fcy;&icy;&lcy;&iecy; &icy; &gcy;&rcy;&icy;&bcy;&acy;&mcy;&icy;
              button.btn.control.card-product__btn.control--xxl.btn--primary-gradient.btn--iconic(to='/')
                svg.icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7 1.4v11.2M1.4 7h11.2')
            .card-product__info
              .card-product__price
                | 400 &#x20BD;
              .card-product__weight
                | 420 &gcy;&rcy;
        .col
          .card-product
            .card-product__img-wrap
              img.card-product__img.img-responsive(src='https://frontend.italy.ismart.pro/storage/food/food-06.png' alt='Пицца с копченым лососем и цукини')
            .card-product__footer
              .card-product__name
                | &Pcy;&icy;&tscy;&tscy;&acy; &scy; &kcy;&ocy;&pcy;&chcy;&iecy;&ncy;&ycy;&mcy; &lcy;&ocy;&scy;&ocy;&scy;&iecy;&mcy; &icy; &tscy;&ucy;&kcy;&icy;&ncy;&icy;
              button.btn.control.card-product__btn.control--xxl.btn--primary-gradient.btn--iconic(to='/')
                svg.icon(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7 1.4v11.2M1.4 7h11.2')
            .card-product__info
              .card-product__price
                | 450 &#x20BD;
              .card-product__weight
                | 390 &gcy;&rcy;
footer.footer
  .row
    .col.col--1
      div
        svg.footer__main-logo(width='141' height='68' viewbox='0 0 141 68' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M77.522 29.849c-.915 2.36-2.207 3.295-4.798 3.391a.501.501 0 00-.336.15.473.473 0 00-.135.334v4.803c0 .123.05.241.138.33.088.088.208.14.335.145 5.65.179 8.901-1.486 11.199-7.744l7.604-20.677a.373.373 0 00-.05-.35.39.39 0 00-.321-.162h-6.005a.603.603 0 00-.347.11.575.575 0 00-.215.287l-3.726 11.091-4.57-11.126a.578.578 0 00-.218-.263.603.603 0 00-.331-.098h-5.895a.351.351 0 00-.286.147.329.329 0 00-.034.313l7.991 19.319zM13.252 3.544c0 .7-.214 1.386-.615 1.969-.4.583-.97 1.037-1.637 1.305-.666.268-1.4.339-2.107.202a3.682 3.682 0 01-1.868-.97 3.514 3.514 0 01-.999-1.815 3.45 3.45 0 01.208-2.047A3.568 3.568 0 017.578.598C8.178.207 8.883 0 9.604 0c.967 0 1.895.373 2.58 1.038a3.494 3.494 0 011.068 2.506zm3.766 18.677c-.013 1.492.19 2.98.603 4.417.927 3.467 4.132 5.995 7.707 6.576 1.247.236 2.513.36 3.783.37a.507.507 0 00.353-.138.478.478 0 00.146-.341v-5.46a.473.473 0 00-.142-.336.5.5 0 00-.345-.143 13.91 13.91 0 01-2.174-.183c-2.473-.446-2.93-2.493-2.975-4.762v-7.018h5.144a.5.5 0 00.348-.14.472.472 0 00.144-.338v-4.177a.466.466 0 00-.144-.338.495.495 0 00-.348-.14h-5.144V4.021a.472.472 0 00-.144-.338.5.5 0 00-.348-.14H17.51a.5.5 0 00-.348.14.472.472 0 00-.144.338v18.199zM55.235 9.962h-5.637a.505.505 0 00-.349.14.478.478 0 00-.144.338V12c-1.132-1.164-3.111-2.32-6.38-2.32-6.174 0-11.319 5.363-11.319 11.955S36.501 33.59 42.725 33.59c2.937 0 4.99-.798 6.38-2.112v1.334a.468.468 0 00.144.338.492.492 0 00.348.14h5.638a.504.504 0 00.348-.14.48.48 0 00.145-.338V10.44a.465.465 0 00-.144-.339.494.494 0 00-.349-.14zM43.653 27.21a5.776 5.776 0 01-4.028-1.59 5.45 5.45 0 01-1.697-3.888 5.425 5.425 0 01.432-2.132 5.552 5.552 0 011.24-1.809 5.737 5.737 0 011.859-1.209 5.87 5.87 0 014.387 0c.696.28 1.327.691 1.859 1.209a5.554 5.554 0 011.24 1.809c.287.676.434 1.4.432 2.132a5.45 5.45 0 01-1.696 3.889 5.775 5.775 0 01-4.028 1.589zM12.59 10.069H6.619a.5.5 0 00-.349.14.472.472 0 00-.144.34v22.17c0 .127.052.248.144.338a.5.5 0 00.348.14h5.971a.5.5 0 00.349-.14.472.472 0 00.144-.338v-22.17a.472.472 0 00-.144-.34.5.5 0 00-.348-.14zm54.004 23.128h-5.97a.5.5 0 01-.349-.14.472.472 0 01-.144-.338V.957c0-.127.052-.249.145-.338a.5.5 0 01.348-.14h5.97a.5.5 0 01.349.14c.092.09.144.211.144.338V32.72a.472.472 0 01-.144.338.5.5 0 01-.349.14zm68.593 1.663a3.49 3.49 0 01-.617 1.977 3.647 3.647 0 01-1.644 1.31c-.669.27-1.405.34-2.115.203a3.693 3.693 0 01-1.875-.974 3.528 3.528 0 01-1.003-1.821 3.468 3.468 0 01.209-2.056 3.581 3.581 0 011.348-1.597c.603-.39 1.311-.6 2.035-.6.971.001 1.902.376 2.589 1.043a3.51 3.51 0 011.073 2.515zM43.702 40.375a12.615 12.615 0 00-6.877 1.978 12.09 12.09 0 00-4.587 5.356 11.687 11.687 0 00-.752 6.93 11.894 11.894 0 003.338 6.167 12.463 12.463 0 006.303 3.326 12.69 12.69 0 007.141-.636 12.29 12.29 0 005.575-4.384 11.764 11.764 0 002.128-6.735c.008-3.171-1.28-6.216-3.58-8.466-2.3-2.25-5.425-3.521-8.69-3.536zm0 17.502a5.783 5.783 0 01-3.16-.882 5.544 5.544 0 01-2.122-2.438 5.357 5.357 0 01-.37-3.173 5.447 5.447 0 011.506-2.838 5.708 5.708 0 012.875-1.547 5.816 5.816 0 013.275.266 5.635 5.635 0 012.572 1.989 5.393 5.393 0 011 3.123 5.386 5.386 0 01-1.617 3.87 5.708 5.708 0 01-3.96 1.63zm58.952-17.502a12.614 12.614 0 00-6.877 1.978 12.09 12.09 0 00-4.587 5.356 11.687 11.687 0 00-.751 6.93 11.895 11.895 0 003.338 6.167 12.463 12.463 0 006.302 3.326c2.393.48 4.878.258 7.142-.636a12.291 12.291 0 005.574-4.384 11.77 11.77 0 002.129-6.654v-.081c.007-3.171-1.28-6.216-3.581-8.466-2.3-2.25-5.425-3.521-8.689-3.536zm0 17.502a5.782 5.782 0 01-3.159-.882 5.544 5.544 0 01-2.122-2.438 5.355 5.355 0 01-.37-3.173 5.447 5.447 0 011.505-2.838 5.709 5.709 0 012.876-1.547 5.816 5.816 0 013.275.266 5.635 5.635 0 012.571 1.989 5.395 5.395 0 011.001 3.042v.081a5.389 5.389 0 01-1.618 3.87 5.707 5.707 0 01-3.959 1.63zm-73.096-.674h-2.954V41.25a.468.468 0 00-.145-.338.495.495 0 00-.348-.14H9.083a.5.5 0 00-.326.12.475.475 0 00-.163.298l-.33 2.55C6.794 55.064 4.95 56.958 4.603 57.203H1.077a.5.5 0 00-.348.14.472.472 0 00-.144.339v9.491a.466.466 0 00.144.339.492.492 0 00.348.14h5.998a.502.502 0 00.348-.14.477.477 0 00.144-.339v-3.185h15.5v3.185a.465.465 0 00.145.339.492.492 0 00.348.14h5.998a.502.502 0 00.349-.14.476.476 0 00.144-.339v-9.492a.471.471 0 00-.144-.338.5.5 0 00-.349-.14zm-9.937 0h-7.165c1.025-2.639 1.725-5.873 2.267-9.32a.382.382 0 01.132-.234.403.403 0 01.257-.093h4.113a.406.406 0 01.28.112.384.384 0 01.116.272v9.263zm60.682-16.436h6.44a.505.505 0 01.348.14.477.477 0 01.145.338v22.262a.466.466 0 01-.145.338.494.494 0 01-.348.14h-5.998a.5.5 0 01-.348-.14.472.472 0 01-.145-.338V50.81l-4.093 5.887a1.547 1.547 0 01-.561.49 1.598 1.598 0 01-.733.178h-3.541c-.256 0-.507-.06-.733-.177a1.547 1.547 0 01-.561-.49l-4.093-5.888v12.697a.471.471 0 01-.145.338.5.5 0 01-.348.14h-5.998a.503.503 0 01-.348-.14.476.476 0 01-.145-.338V41.245a.465.465 0 01.145-.338.493.493 0 01.348-.14h6.44c.255 0 .507.06.732.177.226.117.418.285.561.49l5.915 8.508 5.916-8.507c.143-.206.335-.374.561-.49.225-.117.477-.178.732-.178zm53.389 0h6.374c.131 0 .256.05.348.14.093.09.144.211.144.338v22.262a.469.469 0 01-.144.338.498.498 0 01-.348.14h-5.998a.502.502 0 01-.349-.14.473.473 0 01-.144-.338V51.79l-8.298 11.92a.605.605 0 01-.505.274h-6.374a.5.5 0 01-.348-.14.473.473 0 01-.144-.337V41.245c0-.127.052-.248.144-.338a.5.5 0 01.348-.14h5.999a.5.5 0 01.348.14c.092.09.144.212.144.338v11.717l8.298-11.92a.604.604 0 01.505-.274z' fill='#828282')
        .mobile-apps
          a.mobile-apps__item(href='https://www.apple.com/ru/ios/app-store/')
            svg.mobile-apps__item-image(width='138' height='40' viewbox='0 0 138 40' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M132.889 40H5.111C2.3 40 0 37.75 0 35V5c0-2.748 2.301-5 5.11-5H132.89C135.699 0 138 2.252 138 5v30c.001 2.75-2.3 5-5.111 5z' fill='#F2F2F2')
              path(d='M45.96 23.66l-.604 2h3.842l-.605-2a82.398 82.398 0 01-.663-2.18c-.208-.733-.416-1.48-.624-2.24h-.078c-.195.76-.396 1.507-.604 2.24-.208.72-.43 1.447-.663 2.18zM42.06 31l4.33-13.12h1.833L52.553 31h-1.736l-1.21-4h-4.66l-1.23 4H42.06zM54.21 35.1V21.28h1.325l.137 1.12h.058a7.33 7.33 0 011.405-.96c.52-.267 1.06-.4 1.618-.4.611 0 1.15.12 1.619.36.468.227.858.56 1.17 1 .312.427.546.947.702 1.56.17.6.254 1.28.254 2.04 0 .827-.11 1.567-.332 2.22a5.181 5.181 0 01-.897 1.64c-.377.454-.813.8-1.307 1.04a3.698 3.698 0 01-1.56.34c-.442 0-.884-.1-1.326-.3a6.77 6.77 0 01-1.307-.82l.04 1.7v3.28h-1.6zm3.92-5.24c.39 0 .747-.087 1.072-.26.338-.187.624-.44.858-.76.247-.333.435-.74.566-1.22.143-.48.214-1.02.214-1.62 0-.533-.046-1.02-.137-1.46a3.09 3.09 0 00-.448-1.12 2.004 2.004 0 00-.78-.74c-.312-.173-.69-.26-1.131-.26-.403 0-.813.113-1.229.34-.403.227-.839.553-1.307.98v5.1c.43.373.845.64 1.248.8.404.147.761.22 1.073.22zM65.027 35.1V21.28h1.326l.137 1.12h.058a7.327 7.327 0 011.404-.96c.52-.267 1.06-.4 1.62-.4.61 0 1.15.12 1.618.36.468.227.858.56 1.17 1 .312.427.546.947.702 1.56.17.6.254 1.28.254 2.04 0 .827-.11 1.567-.332 2.22a5.18 5.18 0 01-.897 1.64 3.92 3.92 0 01-1.307 1.04 3.699 3.699 0 01-1.56.34c-.442 0-.884-.1-1.326-.3-.43-.2-.865-.473-1.307-.82l.04 1.7v3.28h-1.6zm3.92-5.24c.39 0 .748-.087 1.073-.26.338-.187.624-.44.858-.76.247-.333.435-.74.565-1.22.143-.48.215-1.02.215-1.62 0-.533-.046-1.02-.137-1.46a3.092 3.092 0 00-.448-1.12 2.005 2.005 0 00-.78-.74c-.312-.173-.69-.26-1.132-.26-.403 0-.812.113-1.228.34-.403.227-.839.553-1.307.98v5.1c.43.373.845.64 1.248.8.403.147.761.22 1.073.22zM83.455 31.24a5.99 5.99 0 01-2.497-.52 6.149 6.149 0 01-1.989-1.42l.975-1.16a5.53 5.53 0 001.6 1.2 4.49 4.49 0 001.93.44c.845 0 1.502-.193 1.97-.58.468-.4.702-.92.702-1.56 0-.333-.058-.613-.175-.84a1.571 1.571 0 00-.449-.6 2.821 2.821 0 00-.663-.46c-.26-.133-.54-.273-.839-.42l-1.833-.82a8.647 8.647 0 01-.917-.48 3.786 3.786 0 01-.838-.68 3.3 3.3 0 01-.605-.94 3.295 3.295 0 01-.234-1.28c0-.493.098-.953.293-1.38.208-.426.487-.793.838-1.1.364-.32.787-.567 1.268-.74a4.86 4.86 0 011.619-.26 4.92 4.92 0 012.126.46c.65.293 1.202.68 1.657 1.16l-.877 1.08a4.354 4.354 0 00-1.307-.9c-.468-.227-1.001-.34-1.6-.34-.714 0-1.293.173-1.735.52-.43.333-.644.8-.644 1.4 0 .32.059.593.176.82.13.213.299.407.507.58.208.16.436.307.683.44.247.12.5.233.76.34l1.814.8c.364.16.708.347 1.034.56.325.2.604.44.838.72.234.267.416.587.546.96.143.36.215.78.215 1.26 0 .52-.104 1.007-.312 1.46a3.491 3.491 0 01-.858 1.2c-.377.334-.832.6-1.366.8-.533.187-1.137.28-1.813.28zM92.675 31.24c-.507 0-.936-.08-1.287-.24a2.309 2.309 0 01-.839-.66 2.69 2.69 0 01-.449-1.02c-.09-.4-.136-.84-.136-1.32v-5.38H88.56v-1.24l1.482-.1.195-2.72h1.346v2.72h2.555v1.34h-2.555v5.4c0 .6.104 1.067.312 1.4.22.32.604.48 1.15.48.17 0 .352-.026.546-.08.196-.053.371-.113.527-.18l.312 1.24c-.26.094-.546.174-.858.24-.299.08-.598.12-.897.12zM99.7 31.24a4.242 4.242 0 01-1.677-.34 4.196 4.196 0 01-1.385-.98 5.116 5.116 0 01-.975-1.6c-.234-.64-.351-1.36-.351-2.16 0-.813.117-1.533.351-2.16.247-.64.572-1.18.975-1.62.403-.44.865-.773 1.385-1a4.244 4.244 0 011.677-.34c.585 0 1.138.114 1.658.34.533.227 1.001.56 1.404 1 .403.44.722.98.956 1.62.247.627.37 1.347.37 2.16 0 .8-.123 1.52-.37 2.16a4.85 4.85 0 01-.956 1.6 4.142 4.142 0 01-1.404.98c-.52.227-1.073.34-1.658.34zm0-1.36a2.4 2.4 0 001.112-.26c.338-.187.624-.44.858-.76a3.65 3.65 0 00.565-1.18c.13-.453.195-.96.195-1.52a5.51 5.51 0 00-.195-1.52 3.631 3.631 0 00-.565-1.2 2.356 2.356 0 00-.858-.76 2.263 2.263 0 00-1.112-.28c-.403 0-.773.094-1.112.28-.338.174-.63.427-.877.76a3.888 3.888 0 00-.546 1.2c-.13.453-.195.96-.195 1.52s.065 1.067.195 1.52c.13.454.312.847.546 1.18.247.32.54.573.877.76a2.4 2.4 0 001.112.26zM106.584 31v-9.72h1.327l.136 1.76h.059c.325-.613.715-1.1 1.17-1.46.468-.36.975-.54 1.521-.54.377 0 .715.067 1.014.2l-.312 1.44a3.547 3.547 0 00-.429-.12 2.494 2.494 0 00-.488-.04c-.403 0-.825.167-1.267.5-.429.334-.806.913-1.131 1.74V31h-1.6zM116.997 31.24a4.728 4.728 0 01-1.794-.34 4.559 4.559 0 01-1.443-1 4.85 4.85 0 01-.956-1.6c-.234-.627-.351-1.34-.351-2.14s.117-1.513.351-2.14c.247-.64.566-1.18.956-1.62a4.13 4.13 0 011.365-1 3.652 3.652 0 011.58-.36c.598 0 1.131.107 1.599.32.481.213.877.52 1.189.92.326.4.573.88.742 1.44.169.56.253 1.187.253 1.88 0 .173-.006.347-.019.52 0 .16-.013.3-.039.42h-6.397c.065 1.04.377 1.867.936 2.48.572.6 1.313.9 2.223.9a3.72 3.72 0 001.248-.2c.39-.146.761-.333 1.112-.56l.566 1.08c-.416.267-.878.5-1.385.7-.507.2-1.086.3-1.736.3zm-2.984-5.88h5.071c0-.986-.208-1.733-.624-2.24-.403-.52-.975-.78-1.716-.78-.338 0-.663.067-.976.2a2.51 2.51 0 00-.819.6 3.252 3.252 0 00-.624.94c-.156.373-.26.8-.312 1.28zM43.735 13.243V15h-.654L43 13.047v-.468h.269a.518.518 0 00.188-.158c.066-.081.132-.206.197-.374.072-.168.144-.387.215-.655.072-.274.144-.613.215-1.018.054-.306.102-.586.144-.841.048-.256.09-.508.125-.757.042-.25.084-.505.126-.767l.143-.897h2.976v5.467h.654v.468L48.172 15h-.655v-1.757h-3.782zm1.03-2.738c-.095.523-.197.953-.304 1.29a2.95 2.95 0 01-.35.784h2.734V7.766h-1.64c-.048.262-.09.505-.126.73-.03.217-.062.432-.098.644-.03.212-.063.427-.099.645-.036.218-.075.458-.116.72zM51.37 13.355c-.37 0-.71-.075-1.021-.224a2.314 2.314 0 01-.789-.636 3.17 3.17 0 01-.52-1.009 4.648 4.648 0 01-.179-1.337c0-.492.06-.93.18-1.317.125-.393.298-.723.52-.99.22-.275.483-.484.788-.627A2.41 2.41 0 0151.37 7c.37 0 .708.075 1.012.224.311.144.577.352.798.626.227.268.4.599.52.991.125.386.188.823.188 1.309 0 .492-.063.937-.188 1.336-.12.393-.293.729-.52 1.01a2.29 2.29 0 01-1.81.86zm0-.682c.264 0 .5-.06.709-.178.215-.118.397-.286.546-.504.156-.225.275-.49.359-.795a4.04 4.04 0 00.125-1.046c0-.38-.041-.723-.125-1.029a2.35 2.35 0 00-.359-.775 1.532 1.532 0 00-.546-.486 1.412 1.412 0 00-.708-.178c-.263 0-.502.06-.717.178-.21.112-.392.274-.547.486-.15.212-.266.47-.35.775a3.89 3.89 0 00-.125 1.028c0 .387.042.736.125 1.047.084.306.2.57.35.795.155.218.337.386.547.504.215.119.454.178.717.178zM57.376 13.355a2.41 2.41 0 01-1.022-.215 2.411 2.411 0 01-.815-.617 3.086 3.086 0 01-.538-1 4.475 4.475 0 01-.188-1.345c0-.493.066-.935.197-1.328a2.99 2.99 0 01.547-1c.233-.274.508-.482.824-.626.317-.15.664-.224 1.04-.224.358 0 .672.078.941.234.275.15.499.324.672.523l-.403.505a1.925 1.925 0 00-.529-.42 1.398 1.398 0 00-.672-.16c-.28 0-.535.06-.762.178a1.604 1.604 0 00-.582.495c-.162.212-.287.47-.377.776a3.893 3.893 0 00-.125 1.028c0 .386.041.735.125 1.047.09.305.212.567.368.785.155.218.343.386.564.504.227.119.481.178.762.178.287 0 .538-.06.753-.178.215-.124.418-.296.61-.514l.412.486c-.233.28-.496.499-.789.654-.293.156-.63.234-1.013.234zM61.335 13.243V7.766H59.56v-.654h4.303v.654h-1.775v5.477h-.753zM65.334 13.355c-.132 0-.242-.01-.332-.028a1.25 1.25 0 01-.25-.065l.151-.701a1.014 1.014 0 00.377.065c.191 0 .344-.037.457-.112a.938.938 0 00.305-.383l.125-.327-2.007-4.692h.797l1.094 2.73.448 1.205h.036l.412-1.206 1.013-2.729h.762l-1.927 5.019c-.15.38-.338.679-.565.897-.221.218-.52.327-.896.327zM69.525 13.243v-6.13h4.168v6.13h-.744V7.766h-2.68v5.477h-.744zM75.302 13.243v-6.13h.744v2.57h2.734v-2.57h.752v6.13h-.752v-2.888h-2.734v2.888h-.744zM83.318 13.355c-.37 0-.711-.075-1.022-.224a2.314 2.314 0 01-.789-.636 3.174 3.174 0 01-.52-1.009 4.648 4.648 0 01-.179-1.337c0-.492.06-.93.18-1.317a2.95 2.95 0 01.52-.99c.22-.275.483-.484.788-.627A2.41 2.41 0 0183.318 7c.37 0 .708.075 1.013.224.31.144.576.352.797.626.227.268.4.599.52.991.126.386.188.823.188 1.309 0 .492-.062.937-.188 1.336-.12.393-.293.729-.52 1.01a2.29 2.29 0 01-1.81.86zm0-.682c.263 0 .499-.06.708-.178.215-.118.397-.286.547-.504.155-.225.275-.49.358-.795.084-.311.126-.66.126-1.046 0-.38-.042-.723-.126-1.029a2.346 2.346 0 00-.358-.775 1.531 1.531 0 00-.547-.486 1.412 1.412 0 00-.708-.178c-.263 0-.502.06-.717.178-.21.112-.391.274-.547.486-.15.212-.266.47-.35.775a3.893 3.893 0 00-.125 1.028c0 .387.042.736.126 1.047.083.306.2.57.35.795.154.218.337.386.546.504.215.119.454.178.717.178zM88.895 13.243v-6.13h1.748c.299 0 .57.027.815.083.251.056.463.144.637.262.179.118.316.274.412.467.102.187.152.415.152.682 0 .306-.074.583-.224.832a1.123 1.123 0 01-.636.505v.037c.358.069.648.225.87.468.22.243.331.576.331 1 0 .299-.054.56-.161.785-.108.224-.26.41-.457.56-.198.15-.434.262-.709.337a3.44 3.44 0 01-.905.112h-1.873zm.744-3.523h.87c.501 0 .863-.09 1.084-.271.22-.181.331-.427.331-.739 0-.355-.116-.607-.35-.757-.226-.15-.57-.224-1.03-.224h-.905v1.99zm0 2.906h1.022c.508 0 .902-.096 1.183-.29.28-.199.421-.504.421-.915 0-.38-.137-.658-.412-.832-.275-.18-.672-.271-1.192-.271h-1.022v2.308zM26.001 6.83c-1.338.053-2.961.879-3.921 1.993-.863.986-1.616 2.563-1.415 4.074 1.496.115 3.019-.751 3.95-1.864.928-1.113 1.557-2.66 1.386-4.204zM25.622 33.135c1.814-.032 2.965-1.632 4.076-3.237 1.284-1.855 1.812-3.653 1.845-3.743-.04-.02-3.537-1.343-3.574-5.328-.034-3.336 2.75-4.938 2.876-5.016-1.565-2.265-4.002-2.575-4.87-2.61-2.075-.209-4.047 1.207-5.1 1.207-1.05 0-2.673-1.179-4.394-1.147-2.26.035-4.345 1.299-5.509 3.303-2.348 4.032-.602 10.003 1.688 13.273 1.12 1.6 2.453 3.396 4.203 3.332 1.688-.066 2.326-1.08 4.365-1.08 2.037 0 2.61 1.079 4.394 1.046z' fill='#828282')
          a.mobile-apps__item(href='https://play.google.com/store')
            svg.mobile-apps__item-image(width='138' height='40' viewbox='0 0 138 40' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M132.889 40H5.111C2.3 40 0 37.75 0 35V5c0-2.748 2.301-5 5.11-5H132.89C135.699 0 138 2.252 138 5v30c.001 2.75-2.3 5-5.111 5z' fill='#F2F2F2')
              path(d='M43.735 13.243V15h-.654L43 13.047v-.468h.269a.518.518 0 00.188-.158c.066-.081.132-.206.197-.374.072-.168.144-.387.215-.655.072-.274.144-.613.215-1.018.054-.306.102-.586.144-.841.048-.256.09-.508.125-.757.042-.25.084-.505.126-.767l.143-.897h2.976v5.467h.654v.468L48.172 15h-.655v-1.757h-3.782zm1.03-2.738c-.095.523-.197.953-.304 1.29a2.95 2.95 0 01-.35.784h2.734V7.766h-1.64c-.048.262-.09.505-.126.73-.03.217-.062.432-.098.644-.03.212-.063.427-.099.645-.036.218-.075.458-.116.72zM51.37 13.355c-.37 0-.71-.075-1.021-.224a2.314 2.314 0 01-.789-.636 3.17 3.17 0 01-.52-1.009 4.648 4.648 0 01-.179-1.337c0-.492.06-.93.18-1.317.125-.393.298-.723.52-.99.22-.275.483-.484.788-.627A2.41 2.41 0 0151.37 7c.37 0 .708.075 1.012.224.311.144.577.352.798.626.227.268.4.599.52.991.125.386.188.823.188 1.309 0 .492-.063.937-.188 1.336-.12.393-.293.729-.52 1.01a2.29 2.29 0 01-1.81.86zm0-.682c.264 0 .5-.06.709-.178.215-.118.397-.286.546-.504.156-.225.275-.49.359-.795a4.04 4.04 0 00.125-1.046c0-.38-.041-.723-.125-1.029a2.35 2.35 0 00-.359-.775 1.532 1.532 0 00-.546-.486 1.412 1.412 0 00-.708-.178c-.263 0-.502.06-.717.178-.21.112-.392.274-.547.486-.15.212-.266.47-.35.775a3.89 3.89 0 00-.125 1.028c0 .387.042.736.125 1.047.084.306.2.57.35.795.155.218.337.386.547.504.215.119.454.178.717.178zM57.376 13.355a2.41 2.41 0 01-1.022-.215 2.411 2.411 0 01-.815-.617 3.086 3.086 0 01-.538-1 4.475 4.475 0 01-.188-1.345c0-.493.066-.935.197-1.328a2.99 2.99 0 01.547-1c.233-.274.508-.482.824-.626.317-.15.664-.224 1.04-.224.358 0 .672.078.941.234.275.15.499.324.672.523l-.403.505a1.925 1.925 0 00-.529-.42 1.398 1.398 0 00-.672-.16c-.28 0-.535.06-.762.178a1.604 1.604 0 00-.582.495c-.162.212-.287.47-.377.776a3.893 3.893 0 00-.125 1.028c0 .386.041.735.125 1.047.09.305.212.567.368.785.155.218.343.386.564.504.227.119.481.178.762.178.287 0 .538-.06.753-.178.215-.124.418-.296.61-.514l.412.486c-.233.28-.496.499-.789.654-.293.156-.63.234-1.013.234zM61.335 13.243V7.766H59.56v-.654h4.303v.654h-1.775v5.477h-.753zM65.334 13.355c-.132 0-.242-.01-.332-.028a1.25 1.25 0 01-.25-.065l.151-.701a1.014 1.014 0 00.377.065c.191 0 .344-.037.457-.112a.938.938 0 00.305-.383l.125-.327-2.007-4.692h.797l1.094 2.73.448 1.205h.036l.412-1.206 1.013-2.729h.762l-1.927 5.019c-.15.38-.338.679-.565.897-.221.218-.52.327-.896.327zM69.525 13.243v-6.13h4.168v6.13h-.744V7.766h-2.68v5.477h-.744zM75.302 13.243v-6.13h.744v2.57h2.734v-2.57h.752v6.13h-.752v-2.888h-2.734v2.888h-.744zM83.318 13.355c-.37 0-.711-.075-1.022-.224a2.314 2.314 0 01-.789-.636 3.174 3.174 0 01-.52-1.009 4.648 4.648 0 01-.179-1.337c0-.492.06-.93.18-1.317a2.95 2.95 0 01.52-.99c.22-.275.483-.484.788-.627A2.41 2.41 0 0183.318 7c.37 0 .708.075 1.013.224.31.144.576.352.797.626.227.268.4.599.52.991.126.386.188.823.188 1.309 0 .492-.062.937-.188 1.336-.12.393-.293.729-.52 1.01a2.29 2.29 0 01-1.81.86zm0-.682c.263 0 .499-.06.708-.178.215-.118.397-.286.547-.504.155-.225.275-.49.358-.795.084-.311.126-.66.126-1.046 0-.38-.042-.723-.126-1.029a2.346 2.346 0 00-.358-.775 1.531 1.531 0 00-.547-.486 1.412 1.412 0 00-.708-.178c-.263 0-.502.06-.717.178-.21.112-.391.274-.547.486-.15.212-.266.47-.35.775a3.893 3.893 0 00-.125 1.028c0 .387.042.736.126 1.047.083.306.2.57.35.795.154.218.337.386.546.504.215.119.454.178.717.178zM88.895 13.243v-6.13h1.748c.299 0 .57.027.815.083.251.056.463.144.637.262.179.118.316.274.412.467.102.187.152.415.152.682 0 .306-.074.583-.224.832a1.123 1.123 0 01-.636.505v.037c.358.069.648.225.87.468.22.243.331.576.331 1 0 .299-.054.56-.161.785-.108.224-.26.41-.457.56-.198.15-.434.262-.709.337a3.44 3.44 0 01-.905.112h-1.873zm.744-3.523h.87c.501 0 .863-.09 1.084-.271.22-.181.331-.427.331-.739 0-.355-.116-.607-.35-.757-.226-.15-.57-.224-1.03-.224h-.905v1.99zm0 2.906h1.022c.508 0 .902-.096 1.183-.29.28-.199.421-.504.421-.915 0-.38-.137-.658-.412-.832-.275-.18-.672-.271-1.192-.271h-1.022v2.308zM69.648 21.753c-2.4 0-4.362 1.788-4.362 4.253 0 2.446 1.962 4.253 4.362 4.253 2.407 0 4.368-1.807 4.368-4.253 0-2.465-1.961-4.253-4.368-4.253zm0 6.83c-1.317 0-2.45-1.063-2.45-2.576 0-1.534 1.133-2.579 2.45-2.579 1.318 0 2.456 1.045 2.456 2.578.001 1.514-1.138 2.578-2.456 2.578zm-9.518-6.83c-2.406 0-4.362 1.788-4.362 4.253 0 2.446 1.956 4.253 4.362 4.253s4.363-1.807 4.363-4.253c0-2.465-1.957-4.253-4.363-4.253zm0 6.83c-1.318 0-2.455-1.063-2.455-2.576 0-1.534 1.137-2.579 2.455-2.579s2.451 1.045 2.451 2.578c0 1.514-1.133 2.578-2.45 2.578zm-11.326-5.526v1.808h4.413c-.13 1.01-.475 1.752-1.003 2.27-.644.624-1.647 1.318-3.41 1.318-2.714 0-4.841-2.144-4.841-4.8 0-2.656 2.127-4.8 4.841-4.8 1.469 0 2.537.56 3.325 1.288l1.302-1.273c-1.102-1.03-2.57-1.821-4.627-1.821-3.723 0-6.852 2.964-6.852 6.606s3.13 6.606 6.852 6.606c2.012 0 3.525-.645 4.713-1.855 1.218-1.192 1.597-2.866 1.597-4.218 0-.42-.036-.806-.1-1.13h-6.21zm46.315 1.4c-.359-.95-1.467-2.704-3.724-2.704-2.237 0-4.098 1.724-4.098 4.253 0 2.384 1.842 4.253 4.312 4.253a4.33 4.33 0 003.624-1.885l-1.483-.966c-.495.707-1.168 1.176-2.14 1.176-.968 0-1.663-.435-2.106-1.289l5.815-2.353-.2-.484zm-5.93 1.417a2.357 2.357 0 012.27-2.48c.76 0 1.404.371 1.618.903l-3.888 1.577zM84.465 30h1.911V17.5h-1.911V30zm-3.131-7.3h-.063c-.43-.497-1.248-.947-2.286-.947-2.177 0-4.169 1.87-4.169 4.268 0 2.384 1.99 4.238 4.169 4.238 1.038 0 1.856-.453 2.286-.967h.063v.611c0 1.626-.888 2.5-2.32 2.5-1.168 0-1.893-.825-2.192-1.52l-1.663.68c.48 1.128 1.748 2.516 3.855 2.516 2.241 0 4.132-1.29 4.132-4.43v-7.637h-1.812v.689zm-2.187 5.884c-1.317 0-2.42-1.08-2.42-2.564 0-1.5 1.103-2.593 2.42-2.593 1.299 0 2.322 1.093 2.322 2.593 0 1.486-1.023 2.564-2.322 2.564zM104.068 17.5h-4.571V30h1.906v-4.737h2.666c2.117 0 4.194-1.499 4.194-3.882-.001-2.382-2.082-3.88-4.195-3.88zm.05 6.025h-2.715V19.24h2.715a2.192 2.192 0 012.236 2.142c0 .967-.813 2.143-2.236 2.143zm11.785-1.796c-1.377 0-2.809.595-3.399 1.913l1.692.694c.365-.694 1.034-.918 1.742-.918.988 0 1.991.58 2.007 1.608v.13c-.345-.194-1.083-.483-1.992-.483-1.821 0-3.678.98-3.678 2.813 0 1.675 1.492 2.753 3.17 2.753 1.283 0 1.991-.567 2.435-1.225h.066v.967h1.841v-4.795c-.001-2.217-1.693-3.457-3.884-3.457zm-.231 6.85c-.624 0-1.491-.303-1.491-1.06 0-.967 1.083-1.337 2.021-1.337.839 0 1.233.18 1.743.42-.149 1.157-1.168 1.977-2.273 1.977zm10.823-6.577l-2.191 5.42h-.066l-2.265-5.42h-2.057l3.404 7.573-1.943 4.214h1.992l5.245-11.787h-2.119zM109.31 30h1.912V17.5h-1.912V30z' fill='#828282')
              path(d='M10.667 7.538c-.3.308-.474.786-.474 1.406v22.115c0 .62.173 1.099.474 1.405l.074.068L23.41 20.144v-.292L10.74 7.466l-.074.072z' fill='url(#google-play_svg__paint0_linear)')
              path(d='M27.627 24.278l-4.217-4.13v-.293l4.223-4.13.095.052 5.001 2.785c1.428.79 1.428 2.09 0 2.884l-5.002 2.779c0-.002-.1.053-.1.053z' fill='url(#google-play_svg__paint1_linear)')
              path(d='M27.726 24.223L23.408 20l-12.74 12.467c.474.487 1.246.547 2.126.059l14.932-8.302z' fill='url(#google-play_svg__paint2_linear)')
              path(d='M27.726 15.776L12.793 7.474c-.88-.482-1.652-.423-2.127.064L23.408 20l4.318-4.223z' fill='url(#google-play_svg__paint3_linear)')
              defs
                lineargradient#google-play_svg__paint0_linear(x1='22.283' y1='31.291' x2='5.505' y2='14.14' gradientunits='userSpaceOnUse')
                  stop(stop-color='#00A0FF')
                  stop(offset='.007' stop-color='#00A1FF')
                  stop(offset='.26' stop-color='#00BEFF')
                  stop(offset='.512' stop-color='#00D2FF')
                  stop(offset='.76' stop-color='#00DFFF')
                  stop(offset='1' stop-color='#00E3FF')
                lineargradient#google-play_svg__paint1_linear(x1='34.587' y1='20.001' x2='9.852' y2='20.001' gradientunits='userSpaceOnUse')
                  stop(stop-color='#FFE000')
                  stop(offset='.409' stop-color='#FFBD00')
                  stop(offset='.775' stop-color='orange')
                  stop(offset='1' stop-color='#FF9C00')
                lineargradient#google-play_svg__paint2_linear(x1='16.849' y1='26.049' x2='-5.904' y2='2.79' gradientunits='userSpaceOnUse')
                  stop(stop-color='#FF3A44')
                  stop(offset='1' stop-color='#C31162')
                lineargradient#google-play_svg__paint3_linear(x1='-1.068' y1='31.482' x2='9.092' y2='21.096' gradientunits='userSpaceOnUse')
                  stop(stop-color='#32A071')
                  stop(offset='.069' stop-color='#2DA771')
                  stop(offset='.476' stop-color='#15CF74')
                  stop(offset='.801' stop-color='#06E775')
                  stop(offset='1' stop-color='#00F076')
        .footer__logos
          svg.footer__logo(width='49' height='16' viewbox='0 0 49 16' fill='none' xmlns='http://www.w3.org/2000/svg' style='height:14px;')
            g(clip-path='url(#visa_svg__clip0)')
              path(d='M20.336 15.77h-4.014L18.832.28h4.015l-2.51 15.489zM34.888.66A9.914 9.914 0 0031.287 0c-3.964 0-6.756 2.109-6.773 5.124-.033 2.225 1.998 3.46 3.518 4.202 1.553.758 2.081 1.253 2.081 1.928-.016 1.038-1.255 1.516-2.41 1.516-1.604 0-2.462-.246-3.767-.824l-.529-.247-.562 3.477c.942.428 2.677.807 4.478.824 4.212 0 6.954-2.076 6.987-5.29.016-1.763-1.057-3.114-3.37-4.218-1.404-.708-2.264-1.186-2.264-1.911.016-.66.727-1.335 2.312-1.335a6.835 6.835 0 012.99.593l.364.165.546-3.345zM40.223 10.283l1.603-4.334c-.017.033.33-.906.528-1.483l.28 1.335s.76 3.707.926 4.482h-3.337zM45.18.28h-3.106c-.957 0-1.685.28-2.098 1.285L34.012 15.77h4.212l.843-2.324h5.154c.116.544.48 2.324.48 2.324h3.716L45.18.28zM12.968.281L9.037 10.843 8.607 8.7c-.727-2.472-3.006-5.157-5.55-6.492l3.6 13.544h4.246L17.213.281h-4.245z' fill='#828282')
              path(d='M5.386.281h-6.46l-.066.313C3.9 1.88 7.236 4.978 8.607 8.702L7.203 1.583C6.97.594 6.26.313 5.386.281z' fill='#BDBDBD')
            defs
              clippath#visa_svg__clip0
                path(fill='#fff' d='M0 0h49v16H0z')
          svg.footer__logo(width='32' height='20' viewbox='0 0 32 20' fill='none' xmlns='http://www.w3.org/2000/svg' style='height:24px;')
            g(clip-path='url(#mc_vrt_svg__clip0)')
              path(d='M20.225 2.417h-8.45v15.28h8.45V2.417z' fill='#BDBDBD')
              path(d='M12.31 10.059a9.749 9.749 0 01.97-4.249A9.69 9.69 0 0116 2.417a9.608 9.608 0 00-10.19-1.1 9.679 9.679 0 00-3.966 3.585 9.76 9.76 0 000 10.31 9.678 9.678 0 003.966 3.585 9.607 9.607 0 0010.19-1.1 9.689 9.689 0 01-2.72-3.392 9.75 9.75 0 01-.97-4.246z' fill='#828282')
              path(d='M31.628 10.059a9.76 9.76 0 01-1.472 5.155 9.678 9.678 0 01-3.966 3.584 9.607 9.607 0 01-10.19-1.1 9.707 9.707 0 002.719-3.394 9.765 9.765 0 000-8.494 9.707 9.707 0 00-2.72-3.393 9.608 9.608 0 0110.19-1.101 9.679 9.679 0 013.967 3.585 9.76 9.76 0 011.472 5.155v.003z' fill='#E0E0E0')
              path(d='M30.705 16.078v-.313h.126V15.7h-.32v.065h.137v.313h.057zm.62 0V15.7h-.097l-.113.27-.112-.27h-.086v.378h.07v-.284l.104.246h.072l.105-.246v.286l.056-.002z' fill='#BDBDBD')
            defs
              clippath#mc_vrt_svg__clip0
                path(fill='#fff' d='M0 0h32v20H0z')
          svg.footer__logo(width='57' height='16' viewbox='0 0 57 16' fill='none' xmlns='http://www.w3.org/2000/svg' style='height:14px;')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M15.36 0v.007c-.007 0-2.227-.007-2.819 2.096-.542 1.928-2.071 7.252-2.113 7.4h-.423S8.44 4.058 7.89 2.095C7.3-.007 5.073 0 5.073 0H0v16h5.073V6.498h.423L8.455 16h3.523l2.959-9.495h.423V16h5.073V0H15.36zM33.89 0s-1.486.133-2.184 1.677l-3.593 7.825h-.423V0h-5.073v16h4.791s1.557-.14 2.255-1.677l3.523-7.825h.422V16h5.073V0h-4.79zM40.936 7.266V16h5.073v-5.1h5.495a5.486 5.486 0 005.179-3.634H40.936z' fill='#828282')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M51.504 0h-11.28c.564 3.046 2.868 5.492 5.848 6.288a8.17 8.17 0 002.12.28h8.695c.078-.364.113-.734.113-1.118C57 2.438 54.54 0 51.504 0z' fill='#BDBDBD')
        a.footer__privacy.nuxt-link-active(href='/')
          | &Pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&iecy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&iecy;
        .footer__copyright
          | &copy; 2009&ndash;2020, &Ocy;&Ocy;&Ocy; &laquo;italy &dcy;&ocy;&mcy;&ocy;&jcy;&raquo;, &ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &scy;&acy;&jcy;&tcy;
    .col.col--2
      nav.block-links
        .block-links__item
          a.block-links__item-link.nuxt-link-active(href='/')
            | &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
          a.block-links__item-link.nuxt-link-active(href='/')
            | &Dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
          a.block-links__item-link.nuxt-link-active(href='/')
            | &Ocy;&pcy;&lcy;&acy;&tcy;&acy;
          a.block-links__item-link.nuxt-link-active(href='/')
            | &Ocy; &ncy;&acy;&scy;
        .block-links__item
          a.block-links__item-link.nuxt-link-active(href='/')
            | &Acy;&kcy;&tscy;&icy;&icy;
          a.block-links__item-link.nuxt-link-active(href='/')
            | &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy; &lcy;&ocy;&yacy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
          a.block-links__item-link.nuxt-link-active(href='/')
            | &Pcy;&ocy;&dcy;&acy;&rcy;&ocy;&chcy;&ncy;&ycy;&jcy; &scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;
    .col.col--3
      .social
        h5.social__title
          | &Scy;&lcy;&iecy;&dcy;&icy;&tcy;&iecy; &zcy;&acy; &ncy;&acy;&mcy;&icy;
        ul.social__list
          li.social__list-item
            a.social__link(href='/')
              svg.social__link-icon.img-responsive(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z' fill='#eccdca')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M20 10.774c2.956 0 3.34.014 4.487.058l.058.002c1.103.045 1.692.226 2.084.393.529.21.906.453 1.299.845.392.393.634.77.845 1.299.151.392.333.996.393 2.084.06 1.193.06 1.54.06 4.545 0 2.956-.014 3.34-.058 4.487l-.002.058c-.045 1.103-.226 1.692-.393 2.084a3.585 3.585 0 01-.845 1.299c-.393.392-.77.634-1.299.845-.392.151-.996.333-2.084.393-1.193.06-1.54.06-4.545.06-2.956 0-3.34-.014-4.487-.058l-.058-.002c-1.103-.045-1.692-.226-2.084-.393a3.585 3.585 0 01-1.299-.845 3.585 3.585 0 01-.845-1.299c-.152-.392-.333-.996-.393-2.084-.06-1.193-.06-1.54-.06-4.545 0-2.956.014-3.34.058-4.487l.002-.058c.045-1.103.226-1.692.393-2.084.21-.529.453-.906.845-1.299.393-.392.77-.634 1.299-.845.392-.152.996-.333 2.084-.393l.034-.001c1.151-.045 1.536-.06 4.511-.06zm0-2.024c-3.046 0-3.438.015-4.613.06h-.023c-1.193.06-2.008.242-2.733.529-.74.287-1.374.664-1.993 1.299-.62.634-1.012 1.253-1.3 1.993-.27.71-.467 1.54-.528 2.733v.023c-.045 1.175-.06 1.567-.06 4.613 0 3.045.015 3.442.06 4.63v.006c.06 1.193.242 2.008.529 2.733.287.74.664 1.374 1.299 1.993a5.54 5.54 0 001.993 1.3c.71.27 1.54.467 2.733.528 1.193.06 1.586.06 4.636.06 3.045 0 3.442-.015 4.63-.06h.006c1.193-.06 2.008-.242 2.733-.529.74-.287 1.374-.664 1.993-1.299a5.54 5.54 0 001.3-1.993c.27-.71.467-1.54.528-2.733.06-1.193.06-1.586.06-4.636 0-3.045-.015-3.442-.06-4.63v-.006c-.06-1.193-.242-2.008-.529-2.733-.287-.74-.664-1.374-1.299-1.993a5.54 5.54 0 00-1.993-1.3c-.71-.27-1.54-.467-2.733-.528h-.03c-1.184-.045-1.58-.06-4.606-.06zm0 5.466a5.768 5.768 0 100 11.537 5.768 5.768 0 100-11.537zm0 9.529a3.744 3.744 0 110-7.49 3.744 3.744 0 110 7.49zm7.338-9.755a1.344 1.344 0 11-2.688 0 1.344 1.344 0 012.688 0z' fill='#e6594f')
          li.social__list-item
            a.social__link(href='/')
              svg.social__link-icon.img-responsive(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z' fill='#cad8eb')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M21.107 26.198s.406-.044.614-.262c.19-.2.184-.575.184-.575s-.026-1.752.812-2.015c.825-.256 1.884 1.698 3.008 2.449.85.567 1.494.444 1.494.444l3.004-.041s1.572-.095.826-1.297c-.061-.099-.434-.89-2.233-2.517-1.885-1.702-1.632-1.427.637-4.376 1.382-1.793 1.934-2.888 1.757-3.356-.164-.448-1.18-.33-1.18-.33l-3.383.02s-.25-.032-.437.076c-.181.106-.3.354-.3.354s-.534 1.388-1.248 2.568c-1.506 2.49-2.108 2.623-2.354 2.467-.573-.36-.43-1.448-.43-2.22 0-2.414.375-3.42-.733-3.68-.367-.088-.637-.145-1.579-.154-1.207-.012-2.227.004-2.806.28-.385.183-.682.592-.501.616.223.029.73.132.998.488.346.46.335 1.49.335 1.49s.2 2.841-.466 3.194c-.455.243-1.08-.252-2.423-2.51-.688-1.158-1.208-2.437-1.208-2.437s-.1-.24-.28-.368a1.417 1.417 0 00-.518-.204l-3.214.02s-.483.013-.66.217c-.157.181-.012.557-.012.557s2.517 5.733 5.365 8.622c2.614 2.648 5.58 2.474 5.58 2.474H21.1' fill='#4f96e6')
          li.social__list-item
            a.social__link(href='/')
              svg.social__link-icon.img-responsive(width='40' height='40' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z' fill='#cad2eb')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M21.418 31.092V20.208h3.004l.398-3.75h-3.402l.005-1.876c0-.979.094-1.502 1.498-1.502h1.877V9.33h-3.004c-3.608 0-4.878 1.82-4.878 4.878v2.252h-2.25v3.75h2.25v10.883h4.502' fill='#4f6ce6')
      .footer__modals-links
        .footer__modals-link
          svg#star_svg__Layer_1.footer__modals-link-icon(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewbox='0 0 40 40' xml:space='preserve')
            style.
              .star_svg__st0{fill-rule:evenodd;clip-rule:evenodd;fill:#f28f78}
            path.star_svg__st0(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z')
            path.star_svg__st0(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z')
            path(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z' fill-rule='evenodd' clip-rule='evenodd' fill='#fedc7b' fill-opacity='.4')
            lineargradient#star_svg__SVGID_1_(gradientunits='userSpaceOnUse' x1='20' y1='42' x2='20' y2='2' gradienttransform='matrix(1 0 0 -1 0 42)')
              stop(offset='0' stop-color='#eac2b9')
              stop(offset='1' stop-color='#eac2b9' stop-opacity='0')
            path(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z' fill-rule='evenodd' clip-rule='evenodd' fill='url(#star_svg__SVGID_1_)')
            path(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z' fill-rule='evenodd' clip-rule='evenodd' fill='#b4cfd6')
            path(d='M21 11.1l2.2 4.5c.2.3.5.5.8.6l5 .7c.3 0 .6.2.7.4.2.2.3.5.2.8 0 .2-.1.5-.3.6L26 22.3c-.3.2-.4.6-.3 1l.9 4.9c.1.6-.3 1.2-.9 1.3-.2 0-.5 0-.7-.1L20.5 27c-.3-.2-.7-.2-1.1 0L15 29.4c-.5.3-1.2.1-1.5-.4-.1-.2-.2-.5-.1-.7l.9-4.9c.1-.4-.1-.7-.3-1l-3.6-3.5c-.4-.4-.4-1.1 0-1.5.2-.2.4-.3.6-.3l5-.7c.4-.1.7-.3.8-.6l2.1-4.5c.2-.4.6-.6 1-.6h.1c.5-.2.8.1 1 .4' opacity='.4' fill='#fff')
            path(d='M20 26.9c-.2 0-.4.1-.6.2L15 29.4c-.5.3-1.2.1-1.5-.5-.1-.2-.2-.5-.1-.7l.9-4.9c.1-.4-.1-.7-.3-1l-3.6-3.5c-.4-.4-.4-1.1 0-1.5.2-.2.4-.3.6-.3l5-.7c.4 0 .7-.3.8-.6l2.2-4.5c.2-.4.6-.6 1-.6v16.3' fill='#fff')
          .footer__modals-link-text
            | &Ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &ocy;&tcy;&zcy;&ycy;&vcy;
        .footer__modals-link
          svg#envelope_svg__Layer_1.footer__modals-link-icon(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewbox='0 0 40 40' xml:space='preserve')
            style.
              .envelope_svg__st0{fill-rule:evenodd;clip-rule:evenodd;fill:#f28f78}
            path.envelope_svg__st0(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z')
            path.envelope_svg__st0(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z')
            path(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z' fill-rule='evenodd' clip-rule='evenodd' fill='#fedc7b' fill-opacity='.4')
            lineargradient#envelope_svg__SVGID_1_(gradientunits='userSpaceOnUse' x1='20' y1='42' x2='20' y2='2' gradienttransform='matrix(1 0 0 -1 0 42)')
              stop(offset='0' stop-color='#eac2b9')
              stop(offset='1' stop-color='#eac2b9' stop-opacity='0')
            path(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z' fill-rule='evenodd' clip-rule='evenodd' fill='url(#envelope_svg__SVGID_1_)')
            path(d='M0 20C0 9 9 0 20 0s20 9 20 20-9 20-20 20S0 31 0 20z' fill-rule='evenodd' clip-rule='evenodd' fill='#b4cfd6')
            path(d='M30 23.9c0 2.8-2.2 5-5 5.1H15c-2.8 0-5.1-2.2-5.1-5v-6.7c0-.4.5-.7.8-.4 2.4 1.9 6.6 5.3 6.7 5.4.7.6 1.6.9 2.5.9s1.8-.3 2.5-.9c.1 0 4.2-3.4 6.6-5.3.3-.3.8 0 .8.4.2 2.2.2 6.5.2 6.5z' opacity='.4' fill='#fff')
            path(d='M29.5 13.7C28.6 12 26.9 11 25 11H15c-1.9 0-3.6 1-4.4 2.7-.2.4-.1.8.2 1.1l7.4 5.9c.5.4 1.1.6 1.8.6.6 0 1.3-.2 1.8-.6l7.4-5.9c.4-.3.5-.8.3-1.1z' fill='#fff')
          .footer__modals-link-text
            | &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &rcy;&acy;&scy;&scy;&ycy;&lcy;&kcy;&ucy;
